<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Is it new year</title>
    <style>
    body {
        text-align: center;
    }
    </style>
</head>
<body>
    {% if new_year %}
        <h1>Yes! Happy New Year!</h1>
    {% else %}
        <h1>No! No Happy New Year!</h1>
    {% endif %}
    <a href="{{ url_for('index')}}">Kembali</a>
</body>
</html>